project:
  type: website
  output-dir: docs

website:
  title: "Predicting Vancouver House Prices Using Distance to the Nearest SkyTrain Station Blog"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/ssemakulapeterwasswa
      
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
resources: 
  -images/



